<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-io-redirect.ZPM">
    <Module>
      <Name>iris-io-redirect</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="IORedirect.PKG"/>
      <UnitTest Name="/test" Package="UnitTest.IORedirect" Phase="test"/>
    </Module>
  </Document>
</Export>