<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="io-redirect.ZPM">
    <Module>
      <Name>io-redirect</Name>
      <Version>0.4.1</Version>
      <Description>Lib to redirecto output to file, stream, string, global and input from stream or string.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="IORedirect.PKG"/>
      <Resource Name="IORedirect.INC"/>
      <UnitTest Name="/test" Package="UnitTest.IORedirect" Phase="test"/>
    </Module>
  </Document>
</Export>